{% for code, label in shippingGateways %}
    <a href="{{ path('omni_sylius_manifest_admin_manifest_download', {'filename': code }) }}" id="{{ code }}" class="item">
        {{ label }}
    </a>
{% endfor %}
