<div class="ui labeled icon top right floating dropdown button primary link">
    <i class="plus icon"></i>
    <span class="text">{{ 'omni_sylius_manifest.ui.download'|trans }}</span>
    <div class="menu">
        <div class="header">
            <i class="cube icon"></i>
            {{ 'sylius.ui.type'|trans }}
        </div>
        <div class="divider"></div>
        {{ render(url('omni_sylius_manifest_admin_shipping_gateways_download')) }}
    </div>
</div>
