<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        table {
            width: 100%;
            margin-top: 30px;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th td {
            font-weight: bold;
        }

        th, td {
            padding: 5px;
        }

        p {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    {% set shippingGateway = manifest.shippingGateway %}
    <p align="right">{{ 'omni_sylius_manifest.template.total_parcels'|trans }}: {{ manifest.shippingExports|length }}</p>
    <p><strong>{{ 'omni_sylius_manifest.template.client_name'|trans }}:</strong> {{ shippingGateway.configValue('name') }}</p>
    <p><strong>{{ 'omni_sylius_manifest.template.asembly'|trans }}:</strong> {{ shippingGateway.configValue('street') }} {{ shippingGateway.configValue('post_code') }}, {{ shippingGateway.configValue('city') }}, {{ shippingGateway.configValue('country') }}</p>
    <p><strong>{{ 'sylius.ui.date'|trans }}:</strong> {{ manifest.createdAt|date('Y-m-d H:i') }}</p>

    <table>
        <tr>
            <th>{{ 'omni_sylius_manifest.ui.number'|trans }}</th>
            <th>{{ 'omni_sylius_manifest.ui.tracking_code'|trans }}</th>
            <th>{{ 'omni_sylius_manifest.ui.receiver_name'|trans }}</th>
            <th>{{ 'omni_sylius_manifest.ui.receiver_address'|trans }}</th>
        </tr>
        {% for export in manifest.shippingExports %}
            {% set address = export.shipment.order.shippingAddress %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ export.shipment.tracking }}</td>
                <td>{{ address.fullName }}</td>
                <td>{{ address.street }} {{ address.postCode }}, {{ address.city }}, {{ address.countryCode }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
